{% extends 'article.html' %}
{% block coral %}

<div id="highlighted-comment"></div>

<div id="gfw-container" hidden="hidden">
    <button id="gfw-menu" aria-haspopup="true" aria-expanded="false">GfW Options
        <span aria-hidden="true">&#x25be</span>
    </button>
    <div role="menu" hidden="hidden">
        <button role="menuitem" id="btn-claim-article" tabindex="-1">Claim article authorship</button>
    </div>
</div>
<div id="coral_thread"></div>
<script src="{{pageRootUrl}}/assets/client.js"></script>
<script data-cfasync="false"
    src="https://www.opendemocracy.net/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script type="text/javascript">
    (function () {
        var d = document, s = d.createElement('script');
        s.src = '{{coralRootUrl}}/assets/js/embed.js';
        s.async = false;
        s.defer = true;
        s.onload = function () {
            Coral.createStreamEmbed({
                events: function (events) {
                    events.onAny(function (eventName, data) {
                        console.log(eventName, data);

                        if (eventName === 'ready') {
                            handleCoralReady()
                        }


                        if (eventName === 'signedIn' && gfwCommentsActive) {
                            gfwGotSignedInUser();
                        }

                        if (eventName === 'signOut.success') {
                            gfwGotSignedOutUser();
                        }

                        if (eventName === 'createComment.success') {
                            //my_event_tracker.send('createComment', data);
                        }
                    });
                },
                id: "coral_thread",
                autoRender: true,
                rootURL: '{{coralRootUrl}}',
                // Uncomment these lines and replace with the ID of the
                // story's ID and URL from your CMS to provide the
                // tightest integration. Refer to our documentation at
                // https://docs.coralproject.net for all the configuration
                // options.
                storyID: '{{pageSlugHash}}',
                storyURL: '{{ pageFullUrl }}',
            });
        };
        (d.head || d.body).appendChild(s);
    })();
</script>
{% endblock %}